*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;

    @include respond(tab-land){
        font-size: 56.25%; // 9rem
    }

    @include respond(phone){
        font-size: 50% ; // 8rem
    }

    @include respond(big){
        font-size: 75%; // 12 rem
    }
}

body{
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port){
        padding: 0;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $color-white inset !important;
  box-shadow: 0 0 0px 100px $color-white inset !important;
}
